.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #d3d3d3;
    height: 100vh;
}

.box {
    width: 20rem;
    background-color: #c9c9c9;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 1rem;
}

.inputWrapper {
    width: 10rem;
    padding: 1rem;
}

.nameEle {
    width: 10rem;
    border-radius: 20px;
    outline: none;
    padding: 5px 0px 5px 5px;
    border: 1px solid grey;
}

.passwordWrapper {
    width: 10rem;
}

.pwdEle {
    width: 10rem;
    border-radius: 20px;
    outline: none;
    padding: 5px 0px 5px 5px;
    border: 1px solid grey;
}

.submitWrapper {
    width: 6rem;
    padding: 1rem;
}

.btnEle {
    width: 6rem;
    border-radius: 20px;
    outline: none;
    padding: 4px 3px 2px 3px;
    border: 1px solid white;
}

.error {
    display: none;
}

.showError { 
    display: block !important;
    color: red !important;
    text-align: center;
    padding: 10px 0px 0px 0px;
}
